{
  "env": {
    "mocha": true
  },
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "no-use-before-define": [2, "nofunc"],
    "id-length": 0
  }
}
